.navbar{
    background-color: #f5732c;
}

.seccion{
    min-height: 100vh;           
    width: 100%;
}

.contenedor-formulario {
    background-color: #afafaf;
    border-radius: 40px;
}

.btn{
    background-color: #f5732c;
}