{% extends 'Contenedor_Calificaciones/base.html' %}

{% block title %}
    Agregar Calificacion Tributaria Manualmente
{% endblock %}

{% block content %}

<section class="seccion-fondo-claro d-flex flex-column justify-content-center align-items-center">
        <div class="contenedor-formulario p-4">
            <h2 class="text-center">
                Ingresar una Calificación Tributaria
                <span><i class="bi bi-calendar"></i></span>
            </h2>
            <p>Complete los siguientes datos para registrar la Calificación Tributaria.</p>
            <form method="POST">
                {% csrf_token %}
                <div class="form-group mt-2">
                    <label for="rut_empresa">RUT de la Empresa</label>
                    <input type="text" class="form-control" id="rut_empresa" name="rut_empresa" aria-describedby="ayudaFormato" placeholder="Ej: 23433434-6" required>
                    <small id="ayudaFormato" class="form-text text-muted">Debes ingresar tu RUT sin puntos y con guión al final.</small>
                </div>
                
                <div class="form-group mt-2">
                    <label for="nombre_empresa">Nombre de la Empresa</label>
                    <input type="text" class="form-control" id="nombre_empresa" name="nombre_empresa" required>
                </div>
                
                <div class="form-group mt-2">
                    <label for="anio_tributario">Año Tributario</label>
                    <input type="number" class="form-control" id="anio_tributario" name="anio_tributario" required>
                </div>
                
                <div class="form-group mt-2">
                    <label for="tipo_calificacion">Tipo de Calificación</label>
                    <input type="text" class="form-control" id="tipo_calificacion" name="tipo_calificacion" required>
                </div>
                {
                <div class="form-group mt-2">
                    <label for="monto_tributario">Monto Tributario</label>
                    <input type="number" class="form-control" id="monto_tributario" name="monto_tributario" required>
                </div>
                
                <div class="form-group mt-2">
                    <label for="factor_tributario">Factor Tributario</label>
                    <input type="number" class="form-control" id="factor_tributario" name="factor_tributario" required>
                </div>

                <div class="form-group mt-2">
                    <label for="unidad_valor">Unidad de Valor</label>
                    <input type="text" class="form-control" id="unidad_valor" name="unidad_valor" required>
                </div>

                <div class="form-group mt-2">
                    <label for="puntaje_calificacion">Puntaje de Calificación</label>
                    <input type="number" class="form-control" id="puntaje_calificacion" name="puntaje_calificacion" required>
                </div>

                <div class="form-group mt-2">
                    <label for="categoria_calificacion">Categoria de la Calificación</label>
                    <input type="text" class="form-control" id="categoria_calificacion" name="categoria_calificacion" required>
                </div>

                <div class="form-group mt-2">
                    <label for="nivel_riesgo">Nivel de Riesgo</label>
                    <input type="text" class="form-control" id="nivel_riesgo" name="nivel_riesgo" required>
                </div>

                <div class="form-group mt-2">
                    <label for="justificacion_resultado">Justificacion del resulta (Observaciones)</label>
                    <input type="text" class="form-control" id="justificacion_resultado" name="justificacion_resultado" required>
                </div>

                <button type="submit" class="btn btn-primary mt-4">Dejar en Pendiente</button>
                <button type="submit" class="btn btn-primary mt-4">Enviar Calificación</button>
                <button type="submit" class="btn btn-primary mt-4">Cancelar Calificación</button>
            </form>
            
        </div>
    </section>

{% endblock %}