{% extends 'Contenedor_Calificaciones/base.html' %}
{% load static %}

{% block navbar %}
    <nav class="navbar border-bottom border-body navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand m-2" href="#">
                <img src="../static/Contenedor_Calificaciones/images/logoNuam.png" width="190px" height="50px">
            </a>
            <div>

                {% if request.session.cuenta_id %}
                    <a class="btn btn-outline-light mx-2" href="#">Ver Todas las Calificaciones</a>
                    <a class="btn btn-outline-light mx-2" href="#">Calificaciones Pendientes</a>
                    <a class="btn btn-outline-light mx-2" href="{% url 'logout' %}">Cerrar Sesión</a>
                {% else %}
                    <a class="btn btn-outline-light mx-2" href="{% url 'identificacion' %}">Identificación</a>
                {% endif %}

            </div>
        </div>
    </nav>
{% endblock %}