{% extends 'Contenedor_Calificaciones/base.html' %}
{% load static %}

{% block navbar %}
    <nav class="navbar border-bottom border-body navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand m-2" href="#">
                <img src="../static/Contenedor_Calificaciones/images/logoNuam.png" width="190px" height="50px">
            </a>
            <div>

                {% if request.session.cuenta_id %}
                    <a class="btn btn-outline-light mx-2" href="{% url 'tu_equipo' %}">Tu Equipo</a>
                    <a class="btn btn-outline-light mx-2" href="{% url 'calificaciones_pendientes_jefe' %}">Calificaciones Por Aprobar</a>
                    <a class="btn btn-outline-light mx-2" href="{% url 'calificaciones_aprobadas_jefe' %}">Calificaciones Aprobadas</a>
                    <a class="btn btn-outline-light mx-2" href="{% url 'calificaciones_rechazadas_jefe' %}">Calificaciones Rechazadas</a>
                    <a class="btn btn-outline-light mx-2" href="{% url 'logout' %}">Cerrar Sesión</a>
                {% else %}
                    <a class="btn btn-outline-light mx-2" href="{% url 'identificacion' %}">Identificación</a>
                {% endif %}

            </div>
        </div>
    </nav>
{% endblock %}

{% block footer %}
    <!-- FOOTER -->
    <footer class="footer-nuam">
        <div class="footer-content">
            <div class="footer-col">
                <h4>Numeros de contacto</h4>
                <ul>
                    <li>Santiago de Chile: (+562) 2399 3000</li>
                    <li>Bogotá: (601) 3139000</li>
                    <li>Medellín: (604) 3117383</li>
                    <li>Lima: 619-3333</li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Correos de ayuda</h4>
                <ul>
                    <li>Chile: <a href="mailto:sac.cl@nuamx.com">sac.cl@nuamx.com</a></li>
                    <li>Colombia: <a href="mailto:sac.co@nuamx.com">sac.co@nuamx.com</a></li>
                    <li>Perú: <a href="mailto:sac.pe@nuamx.com">sac.pe@nuamx.com</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Ubicacion de sedes</h4>
                <ul>
                    <li>La Bolsa 64, Región Metropolitana. Santiago - Chile</li>
                    <li>Sede Bogotá Calle 72: Carrera 7 No. 71-21 Edificio bvc. Torre B Piso 12</li>
                    <li>Sede Medellín: Carrera 43A No. 1-50 San Fernando Plaza, Torre bvc, Local 301.</li>
                    <li>Avenida Jorge Basadre 347 San Isidro, Lima - Perú</li>
                </ul>
            </div>
            <div class="footer-col footer-logo-col" style="align-items:center;justify-content:center;">
                <div style="display:flex;flex-direction:column;align-items:center;">
                    <h4 style="margin-bottom:10px;">Pagina de Nuam:</h4>
                    <div class="footer-logo">
                        <img src="{% static 'Contenedor_Calificaciones/images/logoFooter.png' %}" alt="Nuam Logo">
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            ©copyright 4Fantasticos. Todos los derechos reservados - 4Fantasticos
        </div>
    </footer>
{% endblock %}